{% load static %} {% load bootstrap4 %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'global.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+KnxU4mqtHm+8lWvZGzVq8Kl+DwE3vXfD5uJ8tJW4y1gxz0" crossorigin="anonymous">
</head>

<body>



    <nav class="navbar navbar-expand-lg navbar-light bg-secondary text-white">
        <div class="container text-white" style="width: 90%; max-width: 1500px; margin: 0 auto;">

            <a class=" navbar-brand " href="# "><img src="https://www.logo.wine/a/logo/Stack_Overflow/Stack_Overflow-Icon-Logo.wine.svg " style=" width:50px; "></a>
            <button class="navbar-toggler " type="button " data-toggle="collapse " data-target="#navbarNav " aria-controls="navbarNav " aria-expanded="false " aria-label="Toggle navigation ">
      <span class="navbar-toggler-icon "></span>
    </button>
            <div class="collapse navbar-collapse text-white" id="navbarNav ">
                <ul class="navbar-nav ml-auto  ">
                    <li class="nav-item ">
                        <a class="nav-link text-white" href="# ">
                            <i class="fab fa-python "></i>Learn python </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link text-white " href="# "><i class="fas fa-laptop-code"></i>Exercises</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link text-white" href="# "><i class="fas fa-question-circle"></i>Quiz</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link text-white" href="# "><i class="fas fa-lightbulb"></i>jukti</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>





    <div class="container mt-4 " style="width: 90%; max-width: 1500px; margin: 0 auto;">

        <div class=" row ">

            <div class="col-lg-3 col-md-3 d-none d-sm-block shadow p-3 mb-5 bg-white rounded " style="border-color:black; border-radius:0.5px; border-width:4px; padding:0 100 0 100; ">

                <div class="container ">
                    <section id="text-6 " class="widget widget_text ">
                        <div class="widget-wrap ">
                            <div class="textwidget ">
                                <div class="info ">
                                    <p class="short "><strong>Posted In</strong></p>
                                    <div class="sidedata ">
                                        <span class="entry-categories "><a href="" rel="category tag ">Python</a> <a href="https://pynative.com/python-exercises-with-solutions/ " rel="category tag
        ">Python Exercises</a> <a href=" " rel="category tag ">Python JSON</a></span>
                                        <div class="pynative-social "><a class="pynative-link pynative-twitter " href="https://twitter.com/intent/tweet/?text=Python+JSON+Exercise&amp;url=https%3A%2F%2Fpynative.com%2Fpython-json-exercise%2F&amp;via=PyNative
        " target="_blank " rel="nofollow noopener noreferrer ">Tweet</a><a class="pynative-link pynative-facebook " href="https://facebook.com/sharer/sharer.php?u=https%3A%2F%2Fpynative.com%2Fpython-json-exercise%2F " target="_blank " rel="nofollow noopener noreferrer
        ">F &nbsp;share</a><a class="pynative-link pynative-linkedin " href="ticle?mini=true&amp;url=https%3A%2F%2Fpynative.com%2Fpython-json-exercise%2F&amp;title=Python+JSON+Exercise " target="_blank " rel="nofollow noopener noreferrer
        ">in &nbsp;share</a><a class="pynative-link pynative-pinterest " href="/pin/creatn/?url=https%3A%2F%2Fpynative.com%2Fpython-json-exercise%2F&amp;description=Python+JSON+Exercise " data-pin-custom="true " target="_blank " rel="nofollow noopener noreferrer ">P &nbsp;Pin</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section id="custom_html-8 " class="widget_text widget widget_custom_html ">
                        <div class="widget_text widget-wrap ">
                            <div class="textwidget custom-html-widget ">
                                <div class="container " style="height: 20px; "></div>
                                <p class="further-read notesmside "><i class="fas fa-laptop-code "></i> &nbsp;
                                    <strong>Python Exercises</strong></p>
                                <div class="borderside ">
                                    <ul class="tutorialsindex list-unstyled ">
                                        <li><a href=" "><i class="far fa-arrow-alt-circle-right "></i> Python Exercises Home</a></li>
                                        <li><a href=" "><i class="far fa-arrow-alt-circle-right "></i> Basic Exercise for Beginners</a></li>
                                        <li><a href=" "><i class="far fa-arrow-alt-circle-right "></i> Input and Output Exercise</a></li>
                                        <li><a href=" "><i class="far fa-arrow-alt-circle-right "></i> Loop Exercise</a></li>
                                        <li><a href=" "><i class="far fa-arrow-alt-circle-right "></i> Functions Exercise</a></li>
                                        <li><a href=" "><i class="far fa-arrow-alt-circle-right "></i> String Exercise</a></li>
                                        <li><a href=" "><i class="far fa-arrow-alt-circle-right "></i> Data Structure Exercise</a></li>
                                        <li><a href=" "><i class="far fa-arrow-alt-circle-right "></i> List Exercise</a></li>
                                        <li><a href=" "><i class="far fa-arrow-alt-circle-right "></i> Dictionary Exercise</a></li>
                                        <li><a href=" "><i class="far fa-arrow-alt-circle-right "></i> Set Exercise</a></li>
                                        <li><a href=" "><i class="far fa-arrow-alt-circle-right "></i> Tuple Exercise</a></li>
                                        <li><a href=" "><i class="far fa-arrow-alt-circle-right "></i> Date and Time Exercise</a></li>
                                        <li><a href="/ "><i class="far fa-arrow-alt-circle-right "></i> OOP Exercise</a></li>
                                        <li><a href=" "><i class="far fa-arrow-alt-circle-right "></i> Python JSON Exercise</a></li>
                                        <li><a href=" "><i class="far fa-arrow-alt-circle-right "></i> Random Data Generation Exercise</a></li>
                                        <li><a href="/ "><i class="far fa-arrow-alt-circle-right "></i> NumPy Exercise</a></li>
                                        <li><a href=" "><i class="far fa-arrow-alt-circle-right "></i> Pandas Exercise</a></li>
                                        <li><a href=" "><i class="far fa-arrow-alt-circle-right "></i> Matplotlib Exercise</a></li>
                                        <li><a href=" "><i class="far fa-arrow-alt-circle-right "></i> Python Database Exercise</a></li>
                                    </ul>
                                    <p></p>

                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="col-lg-6 col-md-9 col-sm-9  ">
                {% block body%} {% endblock%} {% block content %} {% endblock %}
            </div>
            <div class="col-lg-3 shadow p-3 mb-5 bg-white rounded " data-tracker="cb=1 ">
                <ul class="d-block p0 m0 ">
                    <li class="s-sidebarwidget--header s-sidebarwidget__small-bold-text d-flex fc-black-600 d:fc-black-900 bb bbw1 ">
                        The Overflow Blog
                    </li>
                    <li class="s-sidebarwidget--item d-flex px16 ">


                        <div class="flex--item1 fl-shrink0 ">
                            <svg aria-hidden="true " class="va-text-top svg-icon iconPencilSm " width="14 " height="14 " viewBox="0 0 14 14 "><path fill="#F1B600 " d="m2 10.12 6.37-6.43 1.88 1.88L3.88 12H2v-1.88Z "></path><path fill="#E87C87 " d="m11.1
        1.71 1.13 1.12c.2.2.2.51 0 .71L11.1 4.7 9.21 2.86l1.17-1.15c.2-.2.51-.2.71 0Z "></path></svg> </div>
                        <div class="flex--item wmn0 ow-break-word ">
                            <a href="https://stackoverflow.blog/2023/08/01/from-startup-to-google-and-back-again-ep-595/?cb=1 " class="js-gps-track " data-ga="[&quot;community bulletin board&quot;,&quot;The Overflow Blog&quot;,&quot;https://stackoverflow.blog/2023/08/01/from-startup-to-google-and-back-again-ep-595/&quot;,null,null] "
                                data-gps-track="communitybulletin.click({ priority: 1, position: 0 }) ">From startup to Google and back again (Ep. 595)</a>
                        </div>
                    </li>
                    <li class="s-sidebarwidget--item d-flex px16 ">


                        <div class="flex--item1 fl-shrink0 ">
                            <svg aria-hidden="true " class="va-text-top svg-icon iconPencilSm " width="14 " height="14 " viewBox="0 0 14 14 "><path fill="#F1B600 " d="m2 10.12 6.37-6.43 1.88 1.88L3.88 12H2v-1.88Z "></path><path fill="#E87C87 " d="m11.1
        1.71 1.13 1.12c.2.2.2.51 0 .71L11.1 4.7 9.21 2.86l1.17-1.15c.2-.2.51-.2.71 0Z "></path></svg> </div>
                        <div class="flex--item wmn0 ow-break-word ">
                            <a href="https://stackoverflow.blog/2023/08/02/how-engineering-teams-at-a-large-org-can-move-at-startup-speed/?cb=1 " class="js-gps-track " data-ga="[&quot;community bulletin board&quot;,&quot;The Overflow Blog&quot;,&quot;https://stackoverflow.blog/2023/08/02/how-engineering-teams-at-a-large-org-can-move-at-startup-speed/&quot;,null,null] "
                                data-gps-track="communitybulletin.click({ priority: 1, position: 1 }) ">How engineering teams at a large org can move at startup speed</a>
                            <div class="fc-light fs-italic ">sponsored post</div>
                        </div>
                    </li>
                    <li class="s-sidebarwidget--header s-sidebarwidget__small-bold-text d-flex fc-black-600 d:fc-black-900 bb bbw1 ">
                        <strong style="padding-top: 20px;">Featured on Meta</strong></li>
                    <i class="fa fa-code" aria-hidden="true"></i>

                    <li class="s-sidebarwidget--item d-flex px16 ">
                        <div class="flex--item1 fl-shrink0 ">
                            <div class="favicon favicon-stackexchangemeta " title="Meta Stack Exchange "></div>
                        </div>
                        <div class="flex--item wmn0 ow-break-word ">
                            <a href="https://meta.stackexchange.com/questions/391835/we-re-collecting-feedback-on-how-we-can-improve-the-stack-exchange-api?cb=1 " class="js-gps-track " data-ga="[&quot;community bulletin board&quot;,&quot;Featured on
        Meta&quot;,&quot;https://meta.stackexchange.com/questions/391835/we-re-collecting-feedback-on-how-we-can-improve-the-stack-exchange-api&quot;,null,null] " data-gps-track="communitybulletin.click({ priority: 3, position: 2 }) ">We’re collecting feedback on how we can improve the Stack Exchange API</a>
                        </div>
                    </li>
                    <li class="s-sidebarwidget--item d-flex px16 ">
                        <i class="fa fa-code" aria-hidden="true"></i>

                        <div class="flex--item1 fl-shrink0 ">
                            <div class="favicon favicon-stackexchangemeta " title="Meta Stack Exchange "></div>
                        </div>
                        <div class="flex--item wmn0 ow-break-word ">
                            <a href="https://meta.stackexchange.com/questions/391847/moderation-strike-results-of-negotiations?cb=1 " class="js-gps-track " data-ga="[&quot;community bulletin board&quot;,&quot;Featured on Meta&quot;,&quot;https://meta.stackexchange.com/questions/391847/moderation-strike-results-of-negotiations&quot;,null,null] "
                                data-gps-track="communitybulletin.click({ priority: 3, position: 3 }) ">Moderation strike: Results of negotiations</a>
                        </div>
                    </li>
                    <li class="s-sidebarwidget--item d-flex px16 ">
                        <div class="flex--item1 fl-shrink0 ">
                            <div class="favicon favicon-stackoverflowmeta " title="Meta Stack Overflow "></div>
                        </div>
                        <div class="flex--item wmn0 ow-break-word ">
                            <a href="https://meta.stackoverflow.com/questions/421831/temporary-policy-generative-ai-e-g-chatgpt-is-banned?cb=1 " class="js-gps-track " data-ga="[&quot;community bulletin board&quot;,&quot;Featured on Meta&quot;,&quot;https://meta.stackoverflow.com/questions/421831/temporary-policy-generative-ai-e-g-chatgpt-is-banned&quot;,null,null] "
                                data-gps-track="communitybulletin.click({ priority: 6, position: 4 }) ">Temporary policy: Generative AI (e.g., ChatGPT) is banned</a>
                        </div>
                    </li>
                    <li class="s-sidebarwidget--item d-flex px16 ">
                        <div class="flex--item1 fl-shrink0 ">
                            <div class="favicon favicon-stackoverflowmeta " title="Meta Stack Overflow "></div>
                        </div>
                        <div class="flex--item wmn0 ow-break-word ">
                            <a href="https://meta.stackoverflow.com/questions/425766/preview-of-search-and-question-asking-powered-by-genai?cb=1 " class="js-gps-track " data-ga="[&quot;community bulletin board&quot;,&quot;Featured on Meta&quot;,&quot;https://meta.stackoverflow.com/questions/425766/preview-of-search-and-question-asking-powered-by-genai&quot;,null,null] "
                                data-gps-track="communitybulletin.click({ priority: 6, position: 5 }) ">Preview of Search and Question-Asking Powered by GenAI</a>
                        </div>
                    </li>
                    <li class="s-sidebarwidget--item d-flex px16 ">
                        <div class="flex--item1 fl-shrink0 ">
                            <div class="favicon favicon-stackoverflowmeta " title="Meta Stack Overflow "></div>
                        </div>
                        <div class="flex--item wmn0 ow-break-word ">
                            <a href="https://meta.stackoverflow.com/questions/425872/collections-a-new-feature-for-collectives-on-stack-overflow?cb=1 " class="js-gps-track " data-ga="[&quot;community bulletin board&quot;,&quot;Featured on Meta&quot;,&quot;https://meta.stackoverflow.com/questions/425872/collections-a-new-feature-for-collectives-on-stack-overflow&quot;,null,null] "
                                data-gps-track="communitybulletin.click({ priority: 6, position: 6 }) ">Collections: A New Feature for Collectives on Stack Overflow</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>



    </div>
    </div>
    </div>
    <div class="footer text-white " style=" background:black; padding:100px; ">

        <div class="row ">
            <div class="col-sm-4 column-gap my-custom-margin " style="text-align:center ">
                <div class="container-fluid footer-container ">
                    <h3 class="master-footer " style="text-align:center "><u>About</u></h3>
                    <div class="container " style="padding-top:20px; "></div>
                    homepage<br> previous work<br>
                </div>
            </div>

            <div class=" col-sm-4 column-gap my-custom-margin " style="text-align:center " id="master-footer ">
                <div class="container-fluid footer-container ">
                    <div class="container " style="padding-top:20px; "></div>
                    <h3 class="master-footer " style="text-align:center "><u>Contacts</u></h3>
                    <div class="container " style="padding-top:20px; "></div>
                    9803317881<br> previous work<br>

                </div>
            </div>
            <div class=" col-sm-4 column-gap my-custom-margin " style="text-align:center ">
                <div class="container-fluid footer-container ">
                    <div class="container " style="padding-top:20px; "></div>
                    <h3 class="master-footer " style="text-align:center ">
                        <u>Customer care</u></h3>
                    <div class="container " style="padding-top:20px; "></div>
                    homepage<br> previous work<br>
                </div>
            </div>
        </div>

    </div>
</body>

</html>