{% extends 'master.html'%}
  {% block body%}



  
        <title>PYTHON</title>

<div class='container'>
  <ol>

       {% for x in question_list %}
     
       <li style="padding-top:10px;">
   <a >
   <a class="btn btn-outline-secondary"  href="{% url 'pythonans' x.id %}">
<h3 style="text-align:left" >{{x.question_txt}}</h3>
  </a>
</a>
     
      
  

{% endfor %}

{% endblock %}
     

  
       
       </li>
       
          

       {% block content%}
{% endblock %}
       </ol>
       </div>   
    
