 {% load static %}
 {% load bootstrap4 %}

 <!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
     
  
        <title>PYTHON</title>

<div class='container'>
  <ol>

       {% for x in question_list %}
     
       <li style="padding-top:10px;">
   
   <a class="btn btn-outline-secondary" data-toggle="collapse" href="#a{{x.id}}" role="button" aria-expanded="false" aria-controls="">
<h3 style="text-align:left"  href="">{{x.question_txt}}</h3>
  </a>


     
     
      
  
  </div>
</div> 

  
       
       </li>
       
          
       {% endfor %}
       </ol>
       </div>   
    
        
    </body>
</html>